@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

h1 {
    font-weight: bold;
}

.myContainer {
    margin: 80px 0px;
}

.myInfo-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.myInfo-wrapper img {
    max
    height: auto;
}

